

<!DOCTYPE html>

<head>

<link rel="stylesheet" type="text/css" href="/css/medical.css" ></link>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<link rel="stylesheet" href="ism/css/my-slider.css"/>

<script src="/ism/js/ism-2.2.min.js"></script>


<title>Medical Shop</title>
</head>

<body>
<div class="page">


<div class="header">
<img src="/images/logo.PNG">
<img src="/images/header.jpg" style=" width:1302px;height:100px;">
		
</div>


<div class="links">
 

<div class="rightmenu" align="center">
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/about">ABOUT</a></li>
  <li><a href="/prescription">Upload Prescription</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/order">Medicine</a></li>
  <li><a href="/checkout">LIFE-STYLE</a></li>
  <li><a href="/final">TREATMENTS</a></li>
 
  </ul>
  </div>
  
  <input type="text" placeholder="Search for Prescription Medicines & OTC Products..." name="search" align="center">
  <button type="submit" style="color:#FF0000;" ><i class="fa fa-search" ></i></button>
  
  
  
  
  
</div>

</div>



<div class="body">
<div class="ism-slider" data-play_type="loop" data-interval="3000" id="my-slider">
  <ol>
    <li>
      <img src="/ism/image/slides/_u/1561657642735_732275.jpg">
    </li>
    <li>
      <img src="/ism/image/slides/_u/1561657597549_429559.jpg">
    </li>
    <li>
      <img src="/ism/image/slides/_u/1234.jpg">
    </li>
  </ol>
</div>
<p class="ism-badge" id="my-slider-ism-badge"><a class="ism-link" href="http://imageslidermaker.com" rel="nofollow"></a></p>

 
</div>


<div class="special">
<h1><center>FOR SPECIFIC HEALTH CONCERNS</center></h1>
  <div class="image3" >
			<div class="img3">
				<img  class="pic_image"src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1573465254/vezzxx7qeekwmu6ouxfv.png" height="300px"; width="300px";>
				<p id="david"><strong>Vitamins & Supplements</strong></p>
				<a href="/order" style="margin-left:100px;"><b>Shop Now</b><a>
				

</div>
<div class="img31">
				<img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1584094432/xwwgr3meblfkjfne48u4.png" height="300px"; width="300px";>
				<p id="david"><strong>Covid Prevention</strong></p>
				<a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>

<div class="img32">
				<img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1573464490/s08wajbabiazznogwov9.png" height="300px" width="300px";>
				<p id="david" align="justify"><strong>Nutritional Drinks</strong></p>
				<a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>

</div>
<div class="image3" >
  <div class="img3">
    <img  class="pic_image"src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1573465254/vezzxx7qeekwmu6ouxfv.png" height="300px"; width="300px";>
    <p id="david"><strong>Popular Combo Deals</strong></p>
    <a href="/order" style="margin-left:100px;"><b>Shop Now</b><a>
    

</div>
<div class="img31">
    <img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1602764850/ncmzymldnqhmyhtlopsu.png" height="300px"; width="300px";>
    <p id="david"><strong>Healthy Snacks</strong></p>
    <a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>

<div class="img32">
    <img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1602849367/evy8izdz5q2ljqzelplf.png" height="300px" width="300px";>
    <p id="david" align="justify"><strong>Heakthcare Devices</strong></p>
    <a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>
</div>

<div class="image3" >
  <div class="img3">
    <img  class="pic_image"src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1573464587/ymn3dcyqmfudgcorfgde.png" height="300px"; width="300px";>
    <p id="david"><strong>Moniters & Wearables</strong></p>
    <a href="/order" style="margin-left:100px;"><b>Shop Now</b><a>
    

</div>
<div class="img31">
    <img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1600861590/nbkpynemt0rfjhldbpg2.png" alt="Vital Signs Monitors &amp; Wearables" height="300px"; width="300px";>
    <p id="david"><strong>Smart Health Device</strong></p>
    <a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>

<div class="img32">
    <img class="pic_image" src="https://res.cloudinary.com/du8msdgbj/image/upload/w_360,h_360,c_fit,a_ignore,q_60,fl_lossy,f_auto/v1573464736/v3026bcmvh07gktnx6te.png" height="300px" width="300px";>
    <p id="david" align="justify"><strong>Immunity booster</strong></p>
    <a href="/order"  style="margin-left:100px;"><b>Shop Now</b><a>
</div>
</div>


</body>
</html>

